<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <div class="heading">Experience</div>
        <hr>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <div class="company">Siemens Digital Industries</div>
                <div class="designation">Software Engineer Advanced</div>
                <div>Desktop and Web Development using .Net technologies</div>
                <br/>       
                <p>Senior Developer responsible for developing the COMOS Desktop and the COMOS Web Solutions</p>
                <p>Responsibilies ..</p>
                <div><h6>Url : <a href="https://new.siemens.com/global/en/products/automation/industry-software/plant-engineering-software-comos.html">COMOS</a></h6></div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">October 2017 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <div class="company">Synechron Technologies</div>
                <div class="designation">Associate Software Engineer</div>
                <div>Desktop Development with Azure chatbot and cognitive services experience</div>
                <br/>               
                <div>Research and development for SHB Bank</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September 2016 - October 2017</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <div class="company">Persistent Systems</div>
                <div class="designation">Module Lead</div>
                <div>WPF Desktop Development</div>
                <br/>              
                <p>Developed a WPF app for ARTEL from scratch.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">June 2014 - September 2016</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <div class="company">Wipro LTD</div>
                <div class="designation">Software Engineer</div>
                <div>HP photo center developement</div>
                <br/>
                <p>Backend C# Developer</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">October 2010 - June 2014</span></div>
        </div>
    </div>
</section>