<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h4 class="mb-0">Software Engineer Advanced</h4>
                <div>Desktop and Web Development using .Net technologies</div>
                <br/>
                
                <h6 class="mb-3">Siemens Digital Industries</h6>
               
                <p>Senior Developer responsible for developing the COMOS Desktop and the COMOS Web Solutions</p>
                <p>Responsibilies ..</p>
                <div><h6>Url : <a href="https://new.siemens.com/global/en/products/automation/industry-software/plant-engineering-software-comos.html">COMOS</a></h6></div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">October 2017 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h4 class="mb-0">Associate Software Engineer</h4>
                <div>Desktop Development with Azure chatbot and cognitive services experience</div>
                <br/>
                <h6 class="mb-3">Synechron Technologies</h6>
                <div>Research and development for SHB Bank</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September 2016 - October 2017</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h4 class="mb-0">Module Lead</h4>
                <div>WPF Desktop Development</div>
                <br/>
                <h6>Persistent Systems</h6>
                
                <p>Developed a WPF app for ARTEL from scratch.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">June 2014 - September 2016</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h4 class="mb-0">Software Engineer</h4>
                <div>HP photo center developement</div>
                <br/>
                <h6>Wipro LTD</h6>
                
                <p>Backend C# Developer</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">October 2010 - June 2014</span></div>
        </div>
    </div>
</section>