<section class="resume-section" id="education">
    <div class="resume-section-content">
        <div class="heading">Education</div>
        <hr>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <div class="designation">Kalinga Institute of Industrial Technologies</div>
                <div class="subheading mb-3">BTECH</div>
                <div>Computer Science</div>
                <p>CGPA: 7.67</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August 2006 - May 2010</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <div class="designation">Christ College</div>
                <div class="subheading mb-3">State HSC Board</div>
                <p>Percentage : 75</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August 1993 - May 2003</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <div class="designation">New Stewart School</div>
                <div class="subheading mb-3">ICSE Board</div>
                <p>Percentage : 73</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August 1993 - May 2003</span></div>
        </div>
    </div>
</section>
