<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <div class="heading">Skills</div>
        <div class="subheading mb-2">Programming Languages & Technologies</div>
        <hr>
        
        <div>            
            <app-star [selectedValue]="4" selectedValueText="C#"></app-star> 
            <app-star [selectedValue]="4" selectedValueText="WPF"></app-star>  
            <app-star [selectedValue]="4" selectedValueText="Web API"></app-star> 
            <app-star [selectedValue]="3" selectedValueText=".Net Core"></app-star> 
            <app-star [selectedValue]="3" selectedValueText="Angular"></app-star> 
            <app-star [selectedValue]="2" selectedValueText="Azure"></app-star> 
            <app-star [selectedValue]="3" selectedValueText="SQL"></app-star>  
            <app-star [selectedValue]="2" selectedValueText="Docker"></app-star>  
            <app-star [selectedValue]="2" selectedValueText="Chat Bot"></app-star>  
            <app-star [selectedValue]="3" selectedValueText="EntityFramework"></app-star>  
            <app-star [selectedValue]="3" selectedValueText="WCF"></app-star>
            <app-star [selectedValue]="3" selectedValueText="Nunit"></app-star>
            <app-star [selectedValue]="2" selectedValueText="Spec Flow"></app-star>                    
        </div>
        <hr>
        <div class="subheading mb-2">Tools and SDLCs</div>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Visual Studio 2005 -- 2022
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                TFS , Git , Tortoise Git
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Visual Studio Code
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                SQL Management Studio
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Jira
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Agile
            </li>
        </ul>
    </div>
</section>
