<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Jignesh
            <span class="text-primary">Patel</span>
        </h1>
        <div class="subheading mb-5">
            A803 Yashwin Hinjawadi , Hinjawadi Phase 2 , Rajiv gandhi IT Park Pune 411057
            <div><a href="mailto:jignesh.patel50@outlook.com">jignesh.patel50@outlook.com</a></div>
        </div>
        <p class="lead mb-5">I am an enthusiatic developer experienced with the .Net Technologies and always excited to learn and contribute with newer ideas and technolgies.</p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/jignesh-patel-a978194a/"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/JigneshP27"><i class="fab fa-github"></i></a>            
        </div>
    </div>
</section>
