<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <div class="heading">Interests</div>
        <hr>
    <br/>
    <div class="container">
        <div>
            <span class="interesticon"><i class="fa-solid fa-lightbulb"></i></span>
            <span class="interestDesc">I am a windows desktop developer who developed this web application and always keen on learning technologies.</span>            
        </div>
        <div class="newinterest">
            <span class="interesticon1"><i class="fa-solid fa-baseball-bat-ball"></i></span>
            <span class="interestDesc">Cricket , Just love it !!</span>            
        </div>
        <div class="newinterest">
            <span class="interesticon2"><i class="fa-solid fa-video"></i></span>
            <span class="interestDesc">Movies , Why So Serious !! Mogambo Khush Hua &nbsp;  <i class="fa-regular fa-face-laugh-beam smile"></i></span>            
        </div>
        
        </div>
        
        
        </div>
</section>
